/* PAGINA DE RENOVAR CONTRASEÑA */
body,html{
	font-family: Calibri;
	background-color: #000;
	margin:0;
	padding: 0;
	height: 100%;
}
section{
	height: 95%;
	background-image: url(img/wallpaperLog-in.jpg);
	background-size: cover;
	background-attachment: fixed;
}
footer{
	height: 5%;
	background-color: #4777ff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#contenedorRenew-password{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
}
#renew-password h1{
	display: inline;
}
input,select{
	border-radius: 0.5em;
	height: 2em;
	margin-bottom: 0.5em;
	width: 20em;
	border: 2px solid grey;
}

#contenedorRenew-password #renew-password{
	background-color: #ececec;
	padding: 65px;
	border-radius: 40px;
	box-shadow: 9px 9px 11px 2px #000000;
}
#contenedorRenew-password #renew-password #buttonsRenew-password{
	
}
#textRenew-password{
	margin-top: 2%;
	margin-bottom: 2%;
}
button{
	border-radius: 8px;
}
#renewPassword{
	background-color: #fff;
	color: black;
	border: 2px solid #09ed28;
	/*width: 100px;*/
	height: 45px;
	cursor: pointer;
	transition: 0.3s ease;
}
#renewPassword:hover{
	background-color: #09ed28;
	color: white;
}
/* FIN DE PAGINA DE RENOVAR CONTRASEÑA */