html,body{
	font-family: Segoe UI;
	background-color: #353232;
	margin:0;
	padding: 0;
	height:100%;
}
header{
}
section{
	float: right;
	width: 100%;
	height: 89%;
	background-color: #ffff;
}
footer{
	position:fixed;
	display: flex;
	left:0px;
	bottom:0px;
	width:100%;
	background-color: #4777ff;
	height: 5%;
	justify-content: center;
	align-items: center;
	text-align: center;
}



/* MENU DE NAVEGACION */
nav{
	background-color:#a0a0a0;
	height: 10%;
	
}
.signOut{
	float: right;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 10%;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	color: white;
	text-decoration: none;
	padding: 19px;
	display: block
}
nav ul li a:hover{
	background-color: #89c9ef;
	transition:  .5s ease;
	color: black;
}
/* FIN MENU DE NAVEGACION */



/*ESTILOS DE "users.html"*/

/* ESTILOS DE LA LEYENDA */
section #contenedorPricipalUser #contenedorSectionLeyenda{
	background-color: #b1edff;
	margin: 1%;
	border-radius: 10px;
}
section #contenedorPricipalUser #contenedorSectionLeyenda #contenedorLeyenda{
	/*background-color: #000;*/
	padding: 3px;
	margin-bottom: 2%;
}
/* ESTILOS DE LOS NOMBRES DE LAS LEYENDAS */
 #userLeyenda{
	display: inline-block;
	padding-left: 1%;
}
#nameLeyenda,#surnameLeyenda,#mailLeyenda{
	padding-left: 12%;
	display: inline-block;
}
/* FIN DE ESTILOS DE LA LEYENDA */



/* APARTADO DE USUARIOS */
section #contenedorPricipalUser #contenedorSectionUser{
	background-color: #f3f3f3;
	margin: 1%;
	height: 89%;
	padding: 1%;
	border-radius: 10px;
}
section #contenedorPricipalUser #contenedorSectionUser:hover{
	background-color: #cff;
}
section #contenedorPricipalUser #contenedorSectionUser #contenedorUser{
	/*background-color: #000;*/
	padding: 3px;
}
/* CONFIGURACION DE LOS APARTADOS DE USUARIO QUE SE COGERAN DE LA BASE DE DATOS */
 #userUser{
	display: inline-block;
}
#nameUser,#surnameUser,#mailUser{
	padding-left: 12%;
}
#contenedorUser #nameUser,#surnameUser,#mailUser,#delUserB,#editUserB{
	display: inline-block;
}
/* BOTONES DE EDITAR USUARIO Y ELIMINAR */

/* DIV DE BOTONES */
#buttonsEditDel{
	float: right;
}
/* BOTON EDITAR USUARIO */
button{
	border-radius: 8px;
}
#editUserButton{
	background-color: #deac07;
	width: 36px;
	height: 33px;
	cursor: pointer;

}
#editUserButton img{
	width: 20px;
	vertical-align: middle;
	
	
}
/* BOTON ELIMINAR USUARIO */
#delUserButton{
	background-color: #800303;
	width: 36px;
	height: 33px;
	cursor: pointer;
}
#delUserButton img{
	width: 20px;
	vertical-align: middle;

}
/* FIN DE BOTONES DE EDITAR USUARIO Y ELIMINAR */

/* FIN DE CONFIGURACION DE LOS APARTADOS DE USUARIO QUE SE COGERAN DE LA BASE DE DATOS */
/*aside div{
	text-align: center;
}
aside hr{
	width: 100%;
}
aside div img{
	width: 30px;
	cursor: pointer;
}*/

/*FIN DE ESTILOS DE "users.html"*/




/*ESTILOS DE "pcs.html"*/
/*aside #contenedorBotonesPcs{
	padding: 19%;
}
aside #contenedorBotonesPcs span{
	color: #e0e0e0;
}*/
/*FIN DE ESTILOS DE "pcs.html"*/
