html,body{
	font-family: Segoe UI;
	background-color: #353232;
	margin:0;
	padding: 0;
	height:100%;
}
header{
	
}
section{
	float: right;
	width: 100%;
	height: 89%;
	background-color: #ffff;
}
footer{
	position:fixed;
	display: flex;
	left:0px;
	bottom:0px;
	width:100%;
	background-color: #4777ff;
	height: 5%;
	justify-content: center;
	align-items: center;
	text-align: center;
}



/* MENU DE NAVEGACION */
nav{
	background-color:#a0a0a0;
	height: 6%;
}
.signOut{
	float: right;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 10%;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	color: white;
	text-decoration: none;
	padding: 19px;
	display: inline-block;
	transition: 0.5s ease;

}
nav ul li a:hover{
	background-color: #89c9ef;
	color: black;
}
/* FIN MENU DE NAVEGACION */



/*ESTILOS DE "users.html"*/

/* ESTILOS DE LA LEYENDA */
section #contenedorPricipalUser #contenedorSectionLeyenda{
	background-color: #b1edff;
	margin: 1%;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 10px;
	margin-bottom: 2%;
}
section #contenedorPricipalUser #contenedorSectionLeyenda #contenedorLeyenda{
	/*background-color: #000;*/
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* ESTILOS DE LOS NOMBRES DE LAS LEYENDAS */
#mailLeyenda{

}
#nameLeyenda,#surnameLeyenda,#mailLeyenda,#userLeyenda,#photoLeyenda{
	display: inline-block;
}
/* FIN DE ESTILOS DE LA LEYENDA */



/* APARTADO DE USUARIOS */
section #contenedorPricipalUser #contenedorSectionUser{
	background-color: #f3f3f3;
	margin: 1%;
	padding: 1%;
	border-radius: 10px;
	transition: 0.5s ease;
}
section #contenedorPricipalUser #contenedorSectionUser:hover{
	background-color: #cff;
}
section #contenedorPricipalUser #contenedorSectionUser #contenedorUser{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
/* IMAGENES DE LOS USARIOS */
#photoUser img{
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
#photoUser{
	display: inline-block;
	height: 60px;
}
/* CONFIGURACION DE LOS APARTADOS DE USUARIO QUE SE COGERAN DE LA BASE DE DATOS */
 #userUser{
}
#nameUser,#surnameUser,#mailUser{
	
}
#contenedorUser #nameUser,#surnameUser,#mailUser,#delUserB,#editUserB,#userUser{
	display: inline-block;
}
/* BOTONES DE EDITAR USUARIO Y ELIMINAR */

/* DIV DE BOTONES */
#buttonsEditDel{
	
}
/* BOTON EDITAR USUARIO */
button{
	border-radius: 8px;
}
#editUserButton{
	background-color: #ffb900;
	width: 45px;
	height: 45px;
	cursor: pointer;

}
#editUserButton img{
	width: 29px;
	vertical-align: middle;
	
	
}
/* BOTON ELIMINAR USUARIO */
#delUserButton{
	background-color: #d92c0d;
	width: 45px;
	height: 45px;
	cursor: pointer;
}
#delUserButton img{
	width: 29px;
	vertical-align: middle;

}
/* FIN DE BOTONES DE EDITAR USUARIO Y ELIMINAR */

/* FIN DE CONFIGURACION DE LOS APARTADOS DE USUARIO QUE SE COGERAN DE LA BASE DE DATOS */
/*aside div{
	text-align: center;
}
aside hr{
	width: 100%;
}
aside div img{
	width: 30px;
	cursor: pointer;
}*/

/*FIN DE ESTILOS DE "users.html"*/




/*ESTILOS DE "pcs.html"*/
/*aside #contenedorBotonesPcs{
	padding: 19%;
}
aside #contenedorBotonesPcs span{
	color: #e0e0e0;
}*/
/*FIN DE ESTILOS DE "pcs.html"*/
