html,body{
	font-family: Segoe UI;
	background-color: #353232;
	margin:0;
	padding: 0;
	height:100%;
}
header{
	
}


/* MENU DE NAVEGACION */
nav{
	width: 100%;
	background-color:#a0a0a0;
	height: 6%;
	
}
.signOut{
	float: right;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	color: white;
	text-decoration: none;
	padding: 19px;
	display: block
}
nav ul li a:hover{
	background-color: #89c9ef;
	transition:  .5s ease;
}
/* FIN MENU DE NAVEGACION */

/*ESTILOS DE "users.html"*/
aside{
	width: 10%;
	float: left;
	background-color: #3c3c3c;
	height:89%;
}
aside #contenedorBotonesUser{
	padding: 19%;
}
aside #contenedorBotonesUser span{
	color: #e0e0e0;
}
aside div{
	text-align: center;
}
aside hr{
	width: 100%;
}
aside div img{
	width: 30px;
	cursor: pointer;

}
section{
	float: right;
	width: 90%;
	height: 89%;
	background-color: #ffff;
}
footer{
	position:fixed;
	display: flex;
	left:0px;
	bottom:0px;
	width:100%;
	background-color: #4777ff;
	height: 5%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/*FIN DE ESTILOS DE "users.html"*/




/*ESTILOS DE "pcs.html"*/
aside #contenedorBotonesPcs{
	padding: 19%;
}
aside #contenedorBotonesPcs span{
	color: #e0e0e0;
}
/*FIN DE ESTILOS DE "pcs.html"*/
